In [31]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,NaN,andorra la vella,ad,2020-06-09,42.500000,1.516667,32.5,2260%,Sunny,17.7
1,NaN,canillo,ad,2020-06-10,42.566667,1.600000,32.5,2260%,Clear,17.8
2,NaN,encamp,ad,2020-06-11,42.533333,1.583333,32.5,2260%,Dry,17.9
3,NaN,la massana,ad,2020-06-12,42.550000,1.516667,32.5,2260%,Humid,18.0
4,NaN,les escaldes,ad,2020-06-13,42.500000,1.533333,32.5,2260%,Sunny,18.1

In [33]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [34]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = [36,35.4,45]
# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

NameError: name 'latitude' is not defined

In [35]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [37]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [39]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)