# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? -10
What is the maximum temperature you would like for your trip? 80

# Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                  
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
10,28,Arraial Do Cabo,BR,78.80,clear sky,-22.97,-42.03,Pousada Porto Praia
11,29,Luganville,VU,77.72,light rain,-15.53,167.17,The Espiritu Hotel
16,42,Oussouye,SN,77.00,overcast clouds,12.48,-16.55,Auberge du Routard
17,44,Vaini,TO,71.60,scattered clouds,-21.20,-175.20,Keleti Beach Resort
18,47,Rikitea,PF,72.30,clear sky,-23.12,-134.97,Pension Maro'i
19,50,Suwalki,PL,77.09,light rain,54.11,22.93,Hotel Szyszko
20,54,Sfantu Gheorghe,RO,77.00,light rain,45.87,25.78,Hotel Park Sfantu Gheorghe

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
preferred_cities_df.shape

(182, 8)

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities =  preferred_cities_df.dropna()
# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
10,28,Arraial Do Cabo,BR,78.80,clear sky,-22.97,-42.03,Pousada Porto Praia
11,29,Luganville,VU,77.72,light rain,-15.53,167.17,The Espiritu Hotel
16,42,Oussouye,SN,77.00,overcast clouds,12.48,-16.55,Auberge du Routard
17,44,Vaini,TO,71.60,scattered clouds,-21.20,-175.20,Keleti Beach Resort
18,47,Rikitea,PF,72.30,clear sky,-23.12,-134.97,Pension Maro'i
19,50,Suwalki,PL,77.09,light rain,54.11,22.93,Hotel Szyszko
20,54,Sfantu Gheorghe,RO,77.00,light rain,45.87,25.78,Hotel Park Sfantu Gheorghe

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
clean_travel_cities.shape

(182, 8)

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng
2          Morehead      US     75.20  37.27  -87.18
7            Atuona      PF     79.72  -9.80 -139.03
8             Kapaa      US     73.40  22.08 -159.32
10  Arraial Do Cabo      BR     78.80 -22.97  -42.03
11       Luganville      VU     77.72 -15.53  167.17
16         Oussouye      SN     77.00  12.48  -16.55
17            Vaini      TO     71.60 -21.20 -175.20
18          Rikitea      PF     72.30 -23.12 -134.97
19          Suwalki      PL     77.09  54.11   22.93
20  Sfantu Gheorghe      RO     77.00  45.87   25.78

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""


# Display sample data
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
2          Morehead      US     75.20  37.27  -87.18
7            Atuona      PF     79.72  -9.80 -139.03
8             Kapaa      US     73.40  22.08 -159.32
10  Arraial Do Cabo      BR     78.80 -22.97  -42.03
11       Luganville      VU     77.72 -15.53  167.17
16         Oussouye      SN     77.00  12.48  -16.55
17            Vaini      TO     71.60 -21.20 -175.20
18          Rikitea      PF     72.30 -23.12 -134.97
19          Suwalki      PL     77.09  54.11   22.93
20  Sfantu Gheorghe      RO     77.00  45.87   25.78

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()

    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Morehead,US,75.20,37.27,-87.18,CCI Express Inn
7,Atuona,PF,79.72,-9.80,-139.03,Villa Enata
8,Kapaa,US,73.40,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
10,Arraial Do Cabo,BR,78.80,-22.97,-42.03,Pousada Porto Praia
11,Luganville,VU,77.72,-15.53,167.17,The Espiritu Hotel
16,Oussouye,SN,77.00,12.48,-16.55,Auberge du Routard
17,Vaini,TO,71.60,-21.20,-175.20,Keleti Beach Resort
18,Rikitea,PF,72.30,-23.12,-134.97,People ThankYou
19,Suwalki,PL,77.09,54.11,22.93,Hotel Szyszko
20,Sfantu Gheorghe,RO,77.00,45.87,25.78,Hotel Park

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Morehead,US,75.20,37.27,-87.18,CCI Express Inn
7,Atuona,PF,79.72,-9.80,-139.03,Villa Enata
8,Kapaa,US,73.40,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
10,Arraial Do Cabo,BR,78.80,-22.97,-42.03,Pousada Porto Praia
11,Luganville,VU,77.72,-15.53,167.17,The Espiritu Hotel
16,Oussouye,SN,77.00,12.48,-16.55,Auberge du Routard
17,Vaini,TO,71.60,-21.20,-175.20,Keleti Beach Resort
18,Rikitea,PF,72.30,-23.12,-134.97,People ThankYou
19,Suwalki,PL,77.09,54.11,22.93,Hotel Szyszko
20,Sfantu Gheorghe,RO,77.00,45.87,25.78,Hotel Park

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = clean_travel_cities
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
10,28,Arraial Do Cabo,BR,78.80,clear sky,-22.97,-42.03,Pousada Porto Praia
11,29,Luganville,VU,77.72,light rain,-15.53,167.17,The Espiritu Hotel
16,42,Oussouye,SN,77.00,overcast clouds,12.48,-16.55,Auberge du Routard
17,44,Vaini,TO,71.60,scattered clouds,-21.20,-175.20,Keleti Beach Resort
18,47,Rikitea,PF,72.30,clear sky,-23.12,-134.97,Pension Maro'i
19,50,Suwalki,PL,77.09,light rain,54.11,22.93,Hotel Szyszko
20,54,Sfantu Gheorghe,RO,77.00,light rain,45.87,25.78,Hotel Park Sfantu Gheorghe

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

# Export the city_data DataFrame into a CSV file
lats = city_data_df["City"]
lats = city_data_df["Country"]
max_temps = city_data_df["Max Temp"]
lats = city_data_df["Lat"]
lats = city_data_df["Lng"]
hotel_name = city_data_df["Hotel Name"]

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>CCI Express Inn</dd>\n<dt>City</dt><dd>Morehead</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Resort at Coconut Beach</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 73.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Espiritu Hotel</dd>\n<dt>City</dt><dd>Luganville</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>light rain and 77.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Auberge du Routard</dd>\n<dt>City</dt><dd>Oussouye</dd>\n<dt>Country</dt><dd>SN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.6 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Pension Maro'i</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.3 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Szyszko</dd>\n<dt>City</dt><dd>Suwalki</dd>\n<dt>Country</dt><dd>PL</dd>\n<dt>Current Weather</dt><dd>light rain and 77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Park Sfantu Gheorghe</dd>\n<dt>City</dt><dd>Sfantu Gheorghe</dd>\n<dt>Country</dt><dd>RO</dd>\n<dt>Current Weather</dt><dd>light rain and 77.0 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

      Lat     Lng
2   37.27  -87.18
7   -9.80 -139.03
8   22.08 -159.32
10 -22.97  -42.03
11 -15.53  167.17
16  12.48  -16.55
17 -21.20 -175.20
18 -23.12 -134.97
19  54.11   22.93
20  45.87   25.78

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map

fig

Figure(layout=FigureLayout(height='420px'))